/backend/ @PYongju
/database/ @PYongju
/backend/app/services/ @zino-ros
/frontend/ @eunminchoi @urisd
/docs/ @jimena1lee @urisd @soolee97@gmail.com
README.md @jimena1lee @PYongju @mini302506@naver.com
